<?xml version="1.0"?>
<launch>

    <!-- Launch the roswrapper node -->
    <node pkg="mmsg_sdk" type="rosservice_wrapper.py" name="roswrapper" output="screen">
        <param name="port" value="5000"/>
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_client" args = "/dev/ttyACM0" output="screen"/>

</launch>